<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544367670126-pilqqi4ekuugrodsqdc9ciuf781jlsdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544367670126-pilqqi4ekuugrodsqdc9ciuf781jlsdb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544367670126-javd8kmsofpd7q1rv23hqia8iou68f2n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCm4OTKV86lpBMpl2bABvvc2QvggycPUGc</string>
	<key>GCM_SENDER_ID</key>
	<string>544367670126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DragonGames.yoyo</string>
	<key>PROJECT_ID</key>
	<string>yogui-ef6c0</string>
	<key>STORAGE_BUCKET</key>
	<string>yogui-ef6c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544367670126:ios:5a56306b10d65e67b1477f</string>
</dict>
</plist>